body {
    font-family: Arial, sans-serif;
    background-color: #dadada;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    max-width: 900px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    height: min-content;
}

.product-info {
    flex: 1;
    padding: 20px;
    border-right: 1px solid #ccc;
}

.product-info img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.form-container {
    flex: 1;
    padding: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #218838;
}

.response {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
}

/* Card info */


.date-field {
    display: flex;
    justify-content: space-between;
}

.date-field select {
    width: 48%; /* Adjust width for two selects */
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff; /* Button color */
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* Darker shade on hover */
}